@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  @font-face{
      font-family: mainFont;
      src: url(../assets/Bitter/Bitter-VariableFont_wght.ttf)
  }
}

@keyframes customBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.custom-bounce {
  animation: customBounce 4s infinite;
}
