@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  @font-face{
      font-family: mainFont;
      src: url(../assets/Bitter/Bitter-VariableFont_wght.ttf)
  }
}

@keyframes customBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.custom-bounce {
  animation: customBounce 4s infinite;
}

::-webkit-scrollbar {
  width: 0;
}

.tab:focus {
  color: black !important; 
  outline: none !important;
  
}

.tab.active:focus {
  background-color: rgb(153,204,153) !important; 
  outline: none !important;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

@media (max-width: 768px) {
  .responsive-image {
    max-width: 100%;
    height: auto;
    max-height: 50vh;
  }
}